.post {
  display: flex;
  justify-content:flex-start;
  color: darkslategray;
  padding: 7px;
}

.post img {
  width: 45px;
  height: 45px;
  border-radius: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 5px;
}