.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-areas: 
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #4c8e91;
  padding: 10px;
}